# Node modules
node_modules/

# Build output
dist/
build/

# Local environment files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Windows system files
*.ini
*.log
*.dat
*.cache
*.Backup
